* {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f2f7f8;
  font-weight: bold;
}

logo-img {
  position: absolute;
  width: 329px;
  height: 73px;
  left: 232px;
  top: 40px;
  
  background: #EA3136;
  border-radius: 0px 10px 10px 0px;
}

/* nav {
  width: 100%;
  background: #002866;
  position: fixed;
  z-index: 310;
  
} */


/* nav div{
  margin-left: auto;
 
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
} */

.content {
  padding: 1rem;
}

.box-div-parent{
  position: relative;
}

.box-div{
  position: relative;
 left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 1) 90%
  );
}

.box-div p{
 
 /* margin-top: 180px; */
 margin-bottom: 0px;
 position: absolute;
 left: 0;
  bottom: 0;
  padding: 1rem;
  font-weight: 600;
  color: #fff;
  font-size: 1.5rem;
}

/* .home-main-div div{

 position: absolute;
  width: 100%;
  height: 380px;
} */
.home-main-div img{

  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  height: 60vh;
  
}

.rectangular-image{
  width: 130px;
  height: 90px;
  border-radius: 10px;
}

.div-body{
  height: 350px;
  width: 280px;
  /* border: 1px solid black; */
  border-radius: 10px;
  scroll-snap-align: center;
}

.div-body img {
  height: 200px;
  width: 95%;
  border-radius: 10px;
  margin-right: 5px;
  
}

.bgColor{
  background: #F1F1F1;
  
}

.header-font{
  font-family: Montserrat,Verdana,arial,sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  
}


  
  .horizontal-snap {
    margin: 0 auto;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
   
    
    
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }
  
  .horizontal-snap::-webkit-scrollbar {
    display: none;
  }

  .horizontal-snap > a {
    scroll-snap-align: center;
  }


.back-to-top{
    width: 50px;
    height: 50px;
    background: #d71821;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);
    -moz-box-shadow: 3px 3px 5px 0 rgba(0,0,0,.5);
    box-shadow: 3px 3px 5px 0 rgb(0 0 0 / 50%);
    cursor: pointer;
    display: inline-block;
    position: fixed;
    bottom: 170px;
    right: 20px;
    z-index: 310;
    padding: auto;
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
 
 
}

.category-card-conatiner{
  width: 80%;
}

.news-main-div{
  width: 65%;
 

}
.news-main-div img{
  width: 95%;
  height: 500px;
 margin-left: 20px;
 margin-right: 20px;
}

.news-main-div h1{
  padding: 20px;
}

.news-main-div p{
  color: #333333;
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
}

.share-btn{
  float: right;
margin-bottom: 10px;
margin-right: 20px;
}

.mt-70{
 margin-top: 70px;

}

.bg-blue{
  background-color: #002866;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.news-content{
  color: #333333;
  word-spacing: 5px ;
  margin-bottom: 10px;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
 line-height: 1.6;
}

.scroller {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.headline-font{
  font-family: Montserrat,Verdana,arial,sans-serif;
  font-weight: 600;
}

/* img{
  transition: all .2s ease-in-out;
}
img:hover {
  transform: scale(1.05);
} */

.share-social-icons img{
  width: 50px;
  height: 50px;

}

.mobile-card-view{
  width: 18rem;
  margin: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .news-main-div{
    width: 100%;
    height: auto;
  }


  .category-card-conatiner{
    width: 100%;
  }
  .category-card-conatiner Row{
    flex-wrap: nowrap;
  }
  .mobile-card-view{
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
    height: auto;
    margin: 5px;

  }
  .card-image{
    height: 80px !important;
    width: 90px !important ;
  }

  .mobile-card-view .card-body{
    padding: 0;
    margin-left: 10px;
    margin-right: 3px;
    font-size: 13px;
  }

  .category-card-conatiner-primary .row{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .category-card-conatiner-primary .col{
    padding: 0;
  }

  .box-div-parent{
    height: 43vh;
  }

  .box-div-parent img{
    height: 100%;

  }
  .box-div p{
    font-weight: 500;
    font-size: 1.2rem;
  }

  .content{
    padding-left: 0;
    padding-right: 0;
  }

  
  
.mt-70{ 
  margin: 70px 0px 0px 0px;
  padding: 0;
  width: 100%;
}
.col{
  flex-basis: 1px;
  padding-left: 0;
  padding-right: 0;
}

.div-body{
  height: 350px;
  width: 250px;
}
.news-main-div img{
  width: 97%;
  height: 50vh;
  margin-left: 5px;
  margin-right: 1px;
}
.news-main-div h1{
  font-size: 1.9rem;
}
.scroller{
 
  height: 200px;
 
}


}